[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==2.2.3"
pillow = "*"
numpy = "*"
tensorflow = "*"
imagehash = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.11"
